<h1>Basic Routing in Angular</h1>

<ul class="d-flex">
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a></li>
    <li><a routerLinkActive="active" routerLink="/contextual">contextual</a></li>
    <li><a routerLinkActive="active" routerLink="/counters">counters</a></li>
    <li><a routerLinkActive="active" routerLink="/directives">directives</a></li>
    <li><a routerLinkActive="active" routerLink="/dymanicstyling">dymanicstyling</a></li>
    <li><a routerLinkActive="active" routerLink="/effect">effect</a></li>
    <li><a routerLinkActive="active" routerLink="/forloop">forloop</a></li>
    <li><a routerLinkActive="active" routerLink="/ifelsecontrolflow">ifelsecontrolflow</a></li>
    <li><a routerLinkActive="active" routerLink="/inputvalue">inputvalue</a></li>
    <li><a routerLinkActive="active" routerLink="/signal">signal</a></li>
    <li><a routerLinkActive="active" routerLink="/switchcontrolflow">switchcontrolflow</a></li>
    <li><a routerLinkActive="active" routerLink="/todolist">todolist</a></li>
    <li><a routerLinkActive="active" routerLink="/twowaybinding">twowaybinding</a></li>
</ul>

<div class="m-50">
    <router-outlet />
</div>