<!-- <h1>My First Angular Application</h1>
<h2>{{title}}</h2>

<h3>x = {{x}}</h3>
<h3>y = {{y}}</h3>
<h4>Addition: {{x+y}}</h4>
 -->

<app-login></app-login>
<hr>
<app-input-value></app-input-value>
<hr>
<app-counters></app-counters>
<hr>
<app-if-else-control-flow></app-if-else-control-flow>
<hr>
<app-switch-control-flow></app-switch-control-flow>
<hr>
<app-for-loop></app-for-loop>
<hr> 
<app-signal></app-signal>
<hr>
<app-effect></app-effect>
<hr>
<app-contextual-variable></app-contextual-variable>
<hr>
<app-two-way-binding></app-two-way-binding>
<hr>
<app-todo-list></app-todo-list>
<hr>
<app-dynamic-styling></app-dynamic-styling> 
<hr>
<app-directives></app-directives>