<ul>
    <li>To use Route tag add File in app.Route</li>
    <li>Import RouterLink and RouterOutlet in component file</li>
    <li>User router link in tags and make sure you are adding "router-outlet/" in the html file to open the details in link</li>
    <li>To add the color to active line use "routerLinkActive="active"" in the tag where we used routerLink</li>
    <li>If we are in home and it doesnt has any link make sure you use 
        <span>'[routerLinkActiveOptions]="exact: true"'</span>
        this will check the exact link</li>
</ul>